



<div class="container jobs-show">
<div class="row">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
     <div class="pull-right">
      <% if user_signed_in? && !current_user.admin? %>
        <% if current_user && current_user.has_applied?(job) %>
          <%= link_to("Has Applied", new_job_resume_path(job), class: "btn btn-info btn-sm disabled", method: :get) %>
        <% else %>
          <%= link_to("Quick Apply", new_job_resume_path(job), class: "btn btn-info btn-sm", method: :get) %>
        <% end%>
      <% else %>
        <%= link_to("Quick Apply", new_job_resume_path(job), class: "btn btn-info btn-sm", method: :get) %>
      <% end %>
    </div>
    
    <p><%= link_to(job.title, job_path(job)) %></p>


    <div class="row">
      <div class="col-md-6">
        <p>Salary: <%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %> </p>
      </div>
      <div class="col-md-6">
        <p><i class="fa fa-address-card-o" aria-hidden="true"></i>  <%= job.category %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>  <%= job.company %></span>
      </div>
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-location-arrow" aria-hidden="true"></i>  <%= job.city %></span>
      </div>
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-clock-o" aria-hidden="true"></i>  <%= time_ago_in_words(job.created_at) %> ago</span>
      </div>
      <div class="col-md-3 col-sm-6">
        <span><i class="fa fa-envelope" aria-hidden="true"></i>  <%= job.contact_email %></span>
      </div>
    </div>
  </div>
</div>
























                </div>
                <div class="p_bot">
                    <div class="li_b_l">
                        <span class="money">20k-30k</span>
                        <!--<i></i>-->经验3-5年 / 本科
                    </div>
                </div>
            </div>
            <div class="company">
                <div class="company_name">
                    <a href="https://www.lagou.com/gongsi/546.html" target="_blank" data-lg-tj-id="8F00" data-lg-tj-no="


                    0113


                " data-lg-tj-cid="546" data-lg-tj-abt="dm-csearch-defaultUserExpect|0">新片场</a><i class="company_mark"><span>该企业已上传营业执照并通过资质验证审核</span></i>
                </div>
                <div class="industry">
                    移动互联网,文化娱乐 / 成熟型(C轮)
                </div>
            </div>
            <div class="com_logo">
                <a href="https://www.lagou.com/gongsi/546.html" target="_blank" data-lg-tj-id="8G00" data-lg-tj-no="


                    0113


                " data-lg-tj-cid="546" data-lg-tj-abt="dm-csearch-defaultUserExpect|0"><img src="//www.lgstatic.com/thumbnail_120x120/i/image/M00/8D/FD/CgqKkViQrMaAY3QCAAAThwcEzZk102.png" alt="新片场" width="60" height="60"></a>
            </div>
        </div>
        <div class="list_item_bot">

                <div class="li_b_l">

                        <span>PHP</span>

                        <span>文化娱乐</span>

                </div>


            <div class="li_b_r">“提供早餐，加班晚餐，零食饮料”</div>
        </div>
    </li>
