<header>
  <section class="header-content">
    <div class="head-text">
      <h3 class="header-title">魔改落后，基础太差，退回去练习？</h3>
      <h4 class="header-subtitle">相信我，你并不孤独</h4>
      <p class="header-button"><%= link_to("一起成长",jobs_path, :class => "btn btn-lg btn-danger") %>
        <i class="fa fa-handshake-o" aria-hidden="true"></i>

     </p>
    </div>
</section>


</header>

<!--- about us--->
<section class="section">
  <div class="wrapper">
    <h2 class="section__title">About us</h2>
    <div class="short-line"></div>
    <div class="section__intro">
      <p class="info-top">比较性人格，牛逼作品把我们吓瘫痪以至于失去行动</p>

       <p class="info-mid">CSS 失意者, CSS 让我头懵，倒头大睡，结果变成猪</p>


    <p class="info-bot">  <i class="fa fa-star" aria-hidden="true"></i>：终归结底还是表现性型人格
    </p>
    <!-- <div class="box__grid">

      <article class="box">
        <a class="box__content" href="jobs"><i class="fa fa-lightbulb-o fa-3x"></i>
          <h4 class="box__title">灯泡</h4>
          <p>魔改大赛里觉得自己是个灯泡</p>
           <i class="fa fa-arrow-right"></i>
         </a>
        </article>

      <article class="box">
        <a class="box__content" href="jobs">
          <i class="fa fa-code fa-3x"></i>
          <h4 class="box__title"> 工程师 </h4>
          <p>作为一个开发者不来这里试试你咋想的</p>

            <i class="fa fa-arrow-right"></i>

        </a>
      </article>

      <article class="box">
        <a class="box__content" href="jobs">
          <i class="fa fa-space-shuttle fa-3x"></i>
          <h4 class="box__title">效率</h4>
          <p>快速走进你理想的职场</p>
          <i class="fa fa-arrow-right"></i>
        </a>
      </article>

    </div>
  </div> -->
</section>


<!-- nic助教的排版，没时间了 -->

<div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading"></h2>
         <p class="lead">吃聪明药,大胆的抄，但求印象－－输入什么，输出什么</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6 img-info">
         <%= image_tag 'cong-ming-yao.jpg', class: 'img img-responsive imgcenter' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">魔改烂，基础差，退回去？</h2>
         <p class="lead">xdite：千万不要退回去，这是在自杀。写下你烂的地方，一定要手写，一条一条去完善它，为什么用手写，因为你在想的时候大脑的思绪乱飘，你手写下来，就相当于给它挂上了一个锚，这样才能有效的行动  <a target="_blank" href="https://fullstack.xinshengdaxue.com/posts/1173" class="color: #fff"><small>［ Xdite老师 的 直播］</small></a>! </p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading"><i class="fa fa-quote-left" aria-hidden="true"></i><br>平静的接受自己的笨拙</h2>
         <p class="lead">接受自己的笨拙，理解自己的笨拙，放慢速度尝试，观察哪里可以改进，再反复联系，观察自己可以哪里进一步改进，再反复...这是学习一切技能的的必需过程，关键在于：尽快开始这个过程，尽快结束这个过程</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'growth.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
<!--工作展示- -->
<!-- <div class="container">
  <h4 class="section__title">你可能感兴趣的</h4>
  <div class="short-line">

  </div>
<div class="row all_image_index">

    <div class="col-xs-6 col-md-3 all_image_css text-center">

        <%= link_to image_tag("developer.jpg", class: "img img-responsive img-center"), image_path(developer_jobs_path(:order => "category")) %>
        <h4 class="text-center"><%= link_to("开发", developer_jobs_path(:order => "category")) %></h4>
    </div>
    <div class="col-xs-6 col-md-3 all_image_css">
        <%= link_to image_tag("painter.jpg", class: "img img-responsive img-center"), image_path(design_jobs_path(:order => "category")) %>
        <h4 class="text-center"><%= link_to("设计", design_jobs_path(:order => "category")) %></h4>
    </div>
    <div class="col-xs-6 col-md-3 all_image_css">
        <%= link_to image_tag("ux.jpg", class: "img img-responsive img-center"), image_path(product_jobs_path(:order => "category")) %>
        <h4 class="text-center"><%= link_to("产品", product_jobs_path(:order => "category")) %></h4>
    </div>
    <div class="col-xs-6 col-md-3 all_image_css">
        <%= link_to image_tag("all_jobs.jpg", class: "img img-responsive img-center"), image_path(jobs_path) %>
        <h4 class="text-center"><%= link_to("全部", jobs_path) %></h4>
        <span class="label label-meetup label-competition-new">new</span>
    </div>
</div>
</div>
</div>


<section id="tsetmonial" class="talk-about-us">
  <div class="container">
    <div class="row">
     <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
       <h4 class="section__title">用户反馈</h4>
        <div class="short-line"></div>
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
          <!-- Indicators -->
