<header>
 <section class="header-content">

   <h1 class="header-title">One Step</h1>
   <h4 class="header-subtitle">One More Chance</h4>
   <p class="header-button"><%= link_to("Get started now",jobs_path(@job), :class => "btn btn-default") %></p>
 </section>
 
</header>

<!--- about us--->
<section class="section">
  <div class="wrapper">
    <h2 class="section__title">About us</h2>
    <div class="short-line"></div>
    <p class="section__intro">
      终身学习者的家园，变现的第一场所
    </p>
    <div class="box__grid">

      <article class="box">
        <a class="box__content" href="jobs"><i class="fa fa-lightbulb-o fa-3x"></i>
          <h4 class="box__title">发现</h4>
          <p> 让你的才华即时发光</p>
           <i class="fa fa-arrow-right"></i>
         </a>
        </article>

      <article class="box">
        <a class="box__content" href="jobs">
          <i class="fa fa-code fa-3x"></i>
          <h4 class="box__title"> 工程师 </h4>
          <p>作为一个开发者不来这里试试你咋想的</p>

            <i class="fa fa-arrow-right"></i>

        </a>
      </article>

      <article class="box">
        <a class="box__content" href="jobs">
          <i class="fa fa-space-shuttle fa-3x"></i>
          <h4 class="box__title">效率</h4>
          <p>快速走进你理想的职场</p>
          <i class="fa fa-arrow-right"></i>
        </a>
      </article>

    </div>
  </div>
</section>
<section id="tsetmonial" class="talk-about-us">
  <div class="container">
    <div class="row">
     <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
       <h2>What our users say</h2>
        <div class="short-line"></div>
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
                       <div class="item active">
                         <p>我在这里快速找到了理想的工作，你们也来试试吧</p>
                         <%= image_tag("user-1.jpeg") %>
                         <strong>Aske, rails工程师</strong>
                       </div>
                       <div class="item">
                         <p>找工作的困惑来这里</p>
                         <%= image_tag("user-3.jpeg") %>
                         <strong>adsrg , ui设计师 </strong>
                       </div>
                       <div class="item">
                     <p>这里汇聚了众多专业人才，我们乐于来这里寻找。</p>
                     <%= image_tag("use_2.jpg") %>
                     <strong>ddef , HR </strong>
                   </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




  <div class="text-center" >
  <p class="section_intro text-center"><%= link_to("Get started now",jobs_path(@jobs), :class => "btn btn-default") %></p>
</div>
</section>
