    <div class="jobs-show-page">
    <h3>Add a job</h3>
    <hr>
    <%= simple_form_for [:admin, @job] do |f| %>
    <%= f.input :title, :label => false, placeholder: '请输入职位名称' %>
    <%= f.input :description, :label => false, placeholder: '请输入职位描述' %>

<!--=== 职位类型 ===-->
  <% if @job.category? %>
    <%= f.input :category, :label => "职位类型", :collection => ["开发", "设计", "产品", "其他"], :checked => @job.category, input_html: { class: 'category' } %>
  <% else %>
    <%= f.input :category, :label => "职位类型", :collection => [ "开发", "设计", "产品", "其他","其他"], input_html: { class: 'category' } %>
  <% end %>
  <!--=== 工作地点 ===-->
  <% if @job.city? %>
    <%= f.input :city, :label => "工作地点", :collection => ["北京", "上海", "深圳", "广州"], :checked => @job.location, input_html: { class: 'city' } %>
  <% else %>
    <%= f.input :city, :label => "工作地点", :collection => ["北京", "上海", "深圳", "广州"], input_html: { class: 'city' } %>
  <% end %>
  <%= f.input :wage_lower_bound, :label => "薪资下限" %>
  <%= f.input :wage_upper_bound, :label => "薪资上限" %>
  <%= f.input :contact_email %>
  <%= f.input :company, :label => "招聘公司" %>
  <%= f.input :is_hidden %>
  <%= f.submit "Submit" %>
  <% end %>
  </div>
