<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 57221);
</script>
  </head>

  <body>

    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <div class="row">
        <div class="col-md-12" id="admin">
          <div class="btn-group">
         <% if current_user.admin? %>
         <button><%= link_to(" Admin", admin_jobs_path, :class => "glyphicon glyphicon-pencil")%></button>

         <button><%= link_to(" User", jobs_path, :class => "glyphicon glyphicon-user") %></button>
         <% end %>

      </div>

      </div>
      <%= yield %>
    </div>



    <%= render "common/footer" %>
  </body>
</html>
